extends app.pug 

block intro
    section(class=`wrapper`)
        h1 Weather! 
       
        
        if weather 
            h1= weather
            img(src= icon)
            
        if error 
            h1= error

        
