extends app.pug 

block main
    div.wrapper
        div.cityHeadLine
            h1= city 
            img(src= flag)
       
        
        if weather 
            div.weatherBox
                p= weather
                img(src= icon)
            
        if error 
            h1= error

        
