extends app.pug 

block intro
    section(class=`wrapper`)
        div.cityHeadLine
            h1= city 
            img(src= flag)
       
        
        if weather 
            p= weather
            img(src= icon)
            
        if error 
            h1= error

        
